---
import Date from "@elements/Date.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout>
  <section>
    <Date date={post.data.published_on} />
    <h1>{post.data.title}</h1>
    <p>{post.data.summary}</p>
  </section>

  <hr />

  <article>
    <Content />
  </article>
</BaseLayout>

<style>
  h1 {
    font-size: 2.25rem;
  }

  p {
    max-width: 80ch;
  }

  hr {
    width: 75%;

    border: none;
    border-top: 1px dashed var(--gray-300);

    color: var(--gray-50);
  }

  article {
    text-indent: 1rem;
  }
</style>
