---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostsList from "@sections/PostsList.astro";
---

<BaseLayout>
  <section>
    <h1>Posts</h1>
    <PostsList />
  </section>
</BaseLayout>
