---
import BaseLayout from "@layouts/BaseLayout.astro";
import ProjectsList from "@sections/ProjectsList.astro";
---

<BaseLayout>
  <section>
    <h1>Projects</h1>
    <ProjectsList />
  </section>
</BaseLayout>
