---
interface Props {
  href: string;
  [key: string]: any;
}

const { href, ...props } = Astro.props;
---

<a {href} {...props}>
  <slot />
</a>

<style>
  a {
    text-decoration: none;
    color: var(--lime-600);

    transition: all 0.2s ease-in-out;
  }

  a:hover {
    text-decoration: underline;
    color: var(--lime-400);
  }
</style>
