---
import Link from "@elements/Link.astro";
---

<nav>
  <Link href="/">Home</Link>
  <!-- <a href="/posts">Posts</a> -->
  <Link href="https://github.com/AryaveerSR">Github</Link>
  <Link href="mailto:me.aryaveer@gmail.com">Mail</Link>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: row;

    padding: 1rem 0px;
    gap: 1.5rem;
  }
</style>
