---
import "@styles/global.css";
import Navigation from "@sections/Navigation.astro";

interface Props {
  title?: string;
}

const { title = "AryaveerSR" }: Props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navigation />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  header,
  main {
    max-width: 48rem;
    margin-inline: auto;
  }

  main {
    margin-top: 3.2rem;

    display: flex;
    flex-direction: column;

    gap: 1.5rem;
  }
</style>
